<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>



  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :hero_image_url %>
    <%= f.input :extended_html_description %>
  </div>
  <div class="form-group">
    <%= f.label :venue %>
    <% venues = Venue.all.map {|venue| [venue.name, venue.id]} %>
    <%= f.select(:venue_id, options_for_select(venues)) %>

    <%= f.label :category %>
    <% categories = Category.all.map {|category| [category.name, category.id]} %>
    <%= f.select(:category_id, options_for_select(categories)) %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
