<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @venue.full_address %>
</p>

<p>
  <strong>Region:</strong>
  <%= @venue.region_id %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
