<!DOCTYPE html>
<html>
  <head>
    <title>CsTemplate</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <!-- method delelte is http action -> search google to know more-->
            <a class="nav-link" data-method="delete" href="<%= destroy_user_session_path %>">Sign Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_event_path %>">New Event</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
          </li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
